@model IEnumerable<GOTHelperEng.Models.Stage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <label name="poitName">Filter stages by point name</label>
    <input value="@ViewBag.pointName" name="pointname" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}

@if(!Model.Any()){
    <h1>No stages found.</h1>
}
else{
<div id="indexTable" class="fixed-table-container">
    <div class="header-background"></div>
    <div class="fixed-table-container-inner">
<table cellspacing="0">
    <thead>
        <tr>
            <th class="first">
                <div class="th-inner">
                    @Html.DisplayNameFor(model => model.Length)
                </div>
            </th>
            <th>
                <div class="th-inner">
                    PF
                </div>
            </th>
            <th>
                <div class="th-inner">
                PB
                </div>
            </th>
            <th>
                <div class="th-inner">
                @Html.DisplayNameFor(model => model.RouteDescription)
                </div>
            </th>
            <th>
                <div class="th-inner">
                    @Html.DisplayNameFor(model => model.MountainRange)
                </div>
            </th>
            <th>
                <div class="th-inner">
                @Html.DisplayNameFor(model => model.StartPoint)
                </div>
            </th>
            <th>
                <div class="th-inner">
                @Html.DisplayNameFor(model => model.EndPoint)
                </div>
            </th>
            @if (User.IsInRole("Admin"))
                    {
                <th>
                <div class="th-inner">
                @Html.DisplayNameFor(model => model.Tourist)
                </div>
            </th>
                        <th>
                            <div class="th-inner">
                                Edit
                            </div>
                        </th>
                        <th>
                            <div class="th-inner">
                Delete
                </div>
            </th>
             }
            <th>
                <div class="th-inner">
                Details
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsForwards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsBackwards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MountainRange.MountainRangeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPoint.PointName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPoint.PointName)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Tourist.UserId)
                </td>
            }
            @if (User.IsInRole("Admin"))
                {
                    <td class ="buttonColumn">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.StageId">Edit</a>
                    </td>
                    <td class="buttonColumn">
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.StageId">Delete</a>
                    </td>
                }
           <td class="buttonColumn">
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.StageId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

</div>

}
