@model GOTHelperEng.Models.TripApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TripApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
       @if(@Model.IsApproved.Value)
            {
             <dd class = "col-sm-10">
                Zatwierdzony
                            </dd>
                        }
                        else
                        {
                            <dd class = "col-sm-10">
                                Niezatwierdzony
                            </dd>
                        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trip.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ksiazeczka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ksiazeczka.BookletId)
        </dd>
    </dl>
</div>

@{
    var positions = ViewData["Positions"] as IEnumerable<Position>;
    if (positions.Any())
    {
        <div id="indexTable" class="fixed-table-container">
    <div class="header-background"></div>
    <div class="fixed-table-container-inner">
        <table cellspacing="0">
        <thead>
            <tr>
            <th class="first">
                <div class="th-inner">
                    StageNumber
                </div>
            </th>
            <th>
                <div class="th-inner">
                    Direction
                </div>
            </th>
            <th>
                <div class="th-inner">
                Stage Description
                </div>
            </th>
            <th>
                <div class="th-inner">
                Points Forwards
                </div>
            </th>
            <th>
                <div class="th-inner">
                Points Backwards
                </div>
            </th>
            <th>
                <div class="th-inner">
                Start Point
                </div>
            </th>
             <th>
                <div class="th-inner">
                End Point
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in ViewData["Positions"] as IEnumerable<Position>) 
        {
            <tr>
                <td>
                    @item.StageNumber
                </td>
                @if (@item.Direction == true)
                {
                    <td>Tam</td>
                }
                else
                {
                    <td>Z Powrotem</td>
                }
                <td>
                    @item.Stage.RouteDescription
                </td>
                <td>
                    @item.Stage.PointsForwards
                </td>
                <td>
                    @item.Stage.PointsBackwards
                </td>
                @if (@item.Direction == true)
                {
                    <td>
                        @item.Stage.StartPoint.PointName
                    </td>
                    <td>
                        @item.Stage.EndPoint.PointName
                    </td>
                }
                else
                {
                    <td>
                        @item.Stage.EndPoint.PointName
                    </td>
                    <td>
                        @item.Stage.StartPoint.PointName
                    </td>
                }
                </tr>
        }
            </tbody>
        </table>
        </div>
        </div>
    }
    else
    {
        <div>There are no stages assigned to this Application, add stages by using AddStages command</div>
    }
}

<div>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.TripApplicationId">Edit</a> <text>|</text>
    }
    <a class="btn btn-primary" asp-action="BookletApplications" asp-route-id="@ViewBag.ReturnBookId">Back To Booklet Applications</a> 
   
</div>